body {
    font-family: 'Nunito Sans';
    font-size: 20px;
}

tr {
    border-color: black !important;
}

h1,
h2,
h3,
.f-div {
    font-family: 'Playfair Display', serif;
}

header {
    width: 100%;
}

#imgLogo {
    width: 200px;
}

#imgUser .nav-link {
    color: white;

}


#backLogo {
    background-color: white;
    border-radius: 20px;
}

.thead {
    background-color: #A81E1E !important;
    color: white;
    text-decoration: none;
}

#bg-red {
    background-color: #A81E1E !important;
}

.btns-delete {
    margin-right: 0px;
}

.btn-outline-white {
    border: solid 1px white !important;
    color: white !important;
}

.btn-outline-dark {
    border: solid 1px black !important;
    background-color: white;
    color: black !important;
}

.btn-outline-dark:hover {
    border: solid 1px black !important;
    color: white !important;
    background-color: black;
}

.btn-outline-white:hover {
    border: solid 1px #A81E1E !important;
    color: #A81E1E !important;
    background-color: white;
}

.btn-outline-red {
    border: solid 1px #A81E1E !important;
    color: #A81E1E !important;
}

.btn-outline-red a {
    text-decoration: none !important;
    color: #A81E1E !important;
}

.btn-outline-red:hover {
    color: white !important;
    background-color: #A81E1E;
}

.btn-outline-red a:hover {
    color: white !important;
    background-color: #A81E1E;
}

.width-spaced {
    width: 15%;
}

.selected {
    border-bottom: solid 3px white !important;
}

footer {
    width: 100%;
    background-color: #A81E1E;
    color: white;
}

.section-news {

    width: 100%;
}

.section-main-news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-news-main h2,
.art-news h3,
.art-principle h3 {
    color: #A81E1E;
}

.art-news-main h2{
    margin-left: 15px !important;
}

.art-news img{
    object-fit: contain;
}

.icon-apps {
    width: 50px;
    height: 50px;
}

p {
    font-size: medium;
    margin: 5%;
}

.art-news-main button,
.art-news button {
    /* width: 100%; */
    margin-top: 3px;
    margin-left: 2%;
    border-radius: 2%;
}

.art-n .nav-item {
    margin-left: 10%;
}

.art-news-main {
    border: 1px solid #A0A0A0;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
}

.art-principle {
    width: 100%;
    height: 40vh;
    padding: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #D9D9D9;
}

.align-center {
    text-align: center;
}

.art-principle h3 {
    text-align: center;
    text-decoration: underline;
}

.art-news {
    /* margin-top: 2%;
    margin-bottom: 5%; */
    border: 1px solid #A0A0A0;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.art-news p {
    font-size: small;
}

.art-news h3 {
    font-size: larger;
}

.name-user {
    padding-left: 0px !important;
    display: flex;
    align-items: flex-end;
}

.img-art-news-main {
    max-width: 50%;
    max-height: 200px;
    width: auto;
    height: auto;
    /* margin: 1%;
    width: 30%; */
}

.img-art-news {
    max-width: 50%;
    /* margin-top: 30px; */
    max-height: 200px;
    width: auto;
    height: auto;
}

.desc-art-news-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.direc {
    margin-right: 10%;
}

#imgUser {
    margin-right: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.img-account {
    width: 30px;
}

.desc-art-news {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#art-about-us {
    margin-top: 2%;
    margin-bottom: 3%;
    border: 1px solid #A0A0A0;
}

/* p::first-letter{
    font-size: larger;
    color: #A81E1E;
} */

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    margin: 0;
    font-size: larger;
    border-bottom: 3px solid #A0A0A0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

footer {
    border-top: 3px solid #A0A0A0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.f-div {
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.nav-item a:hover {
    transform: scale(1.1);
}

button{
    transition: all 0.2s;
}

button:hover {
    position: relative;
    transition: all 0.2s;
    transform:scale(1.03);
}

.contact {
    width: 100%;
    margin: 1%;
    /* margin-left: 80px; */
}

.contact ul {
    list-style: none;
}

#section-table {
    margin: 40px;
}

#icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

input[type="search"] {
    color: CFBCBC;
    border-radius: 25px;
}

.collapse {
    width: 45%;
}

.art-principle,
#art-about-us {
    transition: all 0.3s;
    width: 100%;
}

.body-new {
    margin: 20px;
}

.body-new p {
    margin: 20px;
    font-size: medium;
}

.body-new h1,
#section-adm h1 {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
}

.body-new h3 {
    text-align: center;
    font-style: italic;
    /* font-family:'Nunito Sans'; */
}

.img-body-news {
    margin: 3px;
    min-width: 70%;
    max-width: 100%;
}

.img-coment {
    font-size: x-small;
    color: gray;
}


.img-form img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid black;
}



.container-form {
    position: relative;
}

.div-form button,
.coment-input button {
    width: 70%;
    margin: 10px;
    
}

.div-form {
    position: relative;
    z-index: 2;
    display: flex;
    top: -60px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* box-shadow:  2px 3px 4px rgba(0, 0, 0, 0.4); */
    box-shadow: 18px 0 39px rgba(0, 0, 0, 0.4), -18px 0 36px rgba(0, 0, 0, 0.4), 0 18px 17px rgba(0, 0, 0, 0.4);

    margin: 20px;
    border: 2px solid black;
}

.box-input {
    flex-direction: column;
    display: flex;
    margin: 20px;
}

.box-input p {
    font-size: small;
}

.alert-span {
    padding: 0;
    margin-bottom: 0;
    font-size: 10px;
    font: 300;
    color: #A81E1E;
}

.box-input label,
.comment-form label {
    margin-bottom: 3px;
}

#comment-form label {
    font-size: 22px;
}


.section-coment h4 {
    margin-top: 25px;
    font-family: 'Playfair Display', serif;
}

.box-input input {
    margin-bottom: 3px;
    border-style: none !important;
    background-color: #D9D9D9;
    border-radius: 50px;
}

.box-input {
    align-items: center;
}

.dir-column {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card, .art-news-main, .art-news{
    transition: box-shadow 0.3s ease;
}

.card, .art-news-main, .art-news{
    transition: all 0.3s;
}

.card:hover, .art-news-main:hover, .art-news:hover {
    transform: translateY(-2px);
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.art-principle:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#art-about-us p {
    padding-top: 10px;
    font-size: larger;
}

.navbar-nav li {
    margin-left: 15px;
}

.disguise {
    display: none;
}

.comment-form {
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.section-coment textarea {
    margin: 10px;
    border-style: none !important;
    background-color: #D9D9D9;
    color: black;

}

.coment-input textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.coment-input {
    padding: 1%;
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;
    flex-direction: column;
}

.section-coment {
    margin-top: 50px;
    display: flex;
    /* width: 99%; */
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    box-shadow: 18px 0 39px rgba(0, 0, 0, 0.4), -18px 0 36px rgba(0, 0, 0, 0.4), 0 18px 17px rgba(0, 0, 0, 0.4)
}

.coments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#title-comment {
    margin: 40px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.coments .card {
    /* border: 0px solid #A0A0A0; */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1%;
}

.coments .card-body {
    color: black;
    font-family: 'Nunito Sans';
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.btns-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#font-play {
    color: #A81E1E;
    font-family: 'Playfair Display', serif;
}

.art-body-news-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.limit-box {
    max-width: 90px;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {

    .body-new h1,
    #section-adm h1 {
        font-size: 80px;
    }

    .btns-delete {
        margin-right: 10px;
    }

    .btns-table {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .coments .card {
        /* border: 0px solid #A0A0A0; */
        width: 100%;
    }

    .footer-heigth {
        height: 100vh;
    }



    /* .coments{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:baseline;
    } */


    #title-comment {
        margin: 30px;
        text-align: center;
        font-size: 35px;
    }

    .comment-form {
        display: flex;
        justify-content: center;

    }

    #form-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-form {
        top: -120px;
        left: 14%;
        width: 60%;

        box-shadow: 18px 0 39px rgba(0, 0, 0, 0.4), -18px 0 36px rgba(0, 0, 0, 0.4), 0 18px 17px rgba(0, 0, 0, 0.4)
    }

    .div-form {
        width: 70%;
    }

    .div-form button,
    .coment-input button {
        width: 40%;
        margin: 10px;
    }

    .alert {
        text-align: center;
        font-size: 15px;
        width: 60%;
    }

    .alert-span {
        margin: 0;
    }

    .box-input {
        width: 500px;
    }

    .div-form button,
    .box-input {
        margin: 25px;
    }

    .div-form form {
        margin: 60px;
    }

    .box-input input,
    .box-input label {
        width: 60%;
    }

    .img-form img {
        min-height: 40vh;
        max-height: 50vh;
    }

    .contact {
        margin-left: 0;
    }

    .body-new {
        margin: 80px;
    }

    .body-new p {
        text-align: left;
        font-size: larger;
    }

    .img-body-news {
        padding: 20px;

        justify-content: center;
    }

    .collapse {
        display: flex;
        justify-content: space-around;
    }

    .f-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }


    .desc-art-news-main {
        justify-content: end;
    }

    .img-art-news-main {
        max-width: 50%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .img-art-news {
        max-width: 50%;
        max-height: 100%;
        width: auto;
        height: auto;

    }

    .art-news-main button,
    .art-news button {
        width: 50%;
    }

    .art-news-main button,
    .art-news button {
        margin-top: 8%;
        margin-left: 2%;
        border-radius: 2%;
    }

    .art-news h3 {
        font-size: x-large;
    }



    .contact {
        width: auto;
    }

    header {
        margin: auto;
    }

    .art-news p {
        font-size: medium;
    }

    #icons {
        width: 10%;
        display: flex;
        justify-content: space-between;
    }

    #icons a {
        margin-left: 10%;
    }

    .section-principle {
        display: flex;
    }

    .art-principle {
        margin: 50px;
        width: 400px;
        height: 30vh;
    }

    .art-news {
        /* margin-top: 2%;
        margin-bottom: 5%; */
        height: 350px;
        width: 49%;
        margin-bottom: 10px;
        display: flex;
    }

    .section-news {
        display: flex;
        justify-content: space-between !important;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100%;
    }
}