*{
    font-family:'Nunito Sans';
    font-size: 20px;
}
header{
    width: 97%;
    margin: auto;
}
#imgLogo{
    width: 200px;
}
#backLogo{
    background-color: white;
    border-radius: 15px;
}
#bg-red{
    background-color: #A81E1E !important;
}
.btn-outline-white{
    border: solid 1px white !important;
    color: white !important;
}
.btn-outline-white:hover{
    border: solid 1px #A81E1E !important;
    color: #A81E1E !important;
    background-color: white;
}

.btn-outline-red{
    border: solid 1px #A81E1E !important;
    color: #A81E1E !important;
}
.btn-outline-red:hover{
    border: solid 1px white !important;
    color: white !important;
    background-color: #A81E1E;
}


.width-spaced{
    width: 15%;
}
.selected{
    border-bottom: solid 3px white !important;
}
footer{
    width: 100%;
    background-color: #A81E1E;
    color: white;
}
.f-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.icon-apps{
    width: 50px;
    height: 50px;
}


.art-main{
    width: 97%;
    display: flex;
}
.img-art-main{
    width: 30%;
}
.desc-art-main{
    width: 70%;
}
